
.card.google-card {
  .card-header {
    padding-left: 12px;
    position: relative;

    h3 {
      font-size: 15px !important;
      margin: 4px 0 12px !important;
    }

    .map-detail-options {
      bottom: 0;
      color: #3c4c5d;
      position: absolute;
      right: 10px;

      .tab-option {
        //3px solid #4098d7
        border-bottom: 3px solid transparent;
        cursor: pointer;
        display: inline-block;
        padding: 0 10px 2px;

        i {
          padding-bottom: 5px;
        }

        &.active {
          border-bottom: 3px solid #4098d7;
          cursor: default;
        }
      }
    }
  }

  .card-body {

    .google-map {
      height: 340px;
      width: 100%;

      &.with-analytics {
        height: 231px;
      }
    }
  }

  .card-footer {
    background: none;
    border-top: none;
    margin: 0;
    margin-top: -16px;
    padding: 0;
    z-index: 1000;

    .gradient {
      background: linear-gradient(transparent, #fff);
      min-height: 20px;
    }

    .detail {
      background-color: #fff;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      color: #9e9e9e;
      font-size: 14px;
      min-height: 105px;
      padding: 5px 15px 10px;
    }
  }
}
