.report {

  .calendar-button {
    cursor: pointer;

    .icon {
      color: #0C6288;
    }
  }


  .form-group.effective-date {
    label {
      color: #707070;
      font-size: 14px;
    }

    &.effective-date {
      label {
        display: block;
        margin: 0 0 0 4px;
        width: 100%; // kind of a hack to get the control group to clear to the next line
      }

      .input-group {
        width: 250px;
      }

      .today {
        color: #0A558C;
        cursor: pointer;
        display: inline-block;
        font-family: 'Merriweather Sans';
        font-size: 14px;
        //font-weight: 600;
        font-weight: 400;
        letter-spacing: 0.6px;
        margin: 10px 0 0 14px;
        transition: all 0.2s ease;

        &:hover {
          color: #14919b; //#4098D7;
          //text-decoration: underline;
          &:active {
            color: hsla(184, 63%, 31%, 1);
          }
        }
      }
    }
  }

  $label-width: 185px;
  $input-width: 115px;

  .header-row {
    color: #707070;
    font-size: 13px;

    .label-header {
      color: #495057;
      display: inline-block;
      font-size: 14px;
      font-weight: 600;
      text-transform: uppercase;
      width: $label-width;
    }

    .input-header {
      display: inline-block;
      margin: 0 2px 0 0;
      text-align: center;
      //width: calc(#{$input-width} + 2px);
      width: $input-width;
    }

    .trend {
      margin-left: 3px;
    }
  }

  .mc-row {
    margin: 0;

    &:hover {
      //background-color: rgba(15, 96, 153, 0.03);
    }

    .row-label {
      color: #707070;
      display: inline-block;
      font-size: 14px;
      margin: 6px 0 0;
      width: $label-width;

      &.no-width {
        width: auto;
      }
    }

    .calculation-values {

      input[type=text] {
        &.form-control {
          border-radius: 0;
          font-size: 15px;
          height: auto;
          margin: 1px 2px 1px 0;
          padding: 3px 8px;
          text-align: center;
          width: $input-width;
        }
      }
    }

    .custom-radio {
      //padding: 4px 4px 5px 1.5rem; // gives it some padding for hover effect to look better
      padding-bottom: 4px;
      padding-right: 4px;
      padding-top: 4px;

      &.increasing-decreasing {
        width: 92px;
      }

      &:hover {
        background-color: rgba(15, 96, 153, 0.02);

        label {
          color: #4098D7;
        }
      }

      label {
        color: #0C6288;
        font-size: 13px;
        padding-top: 2px;
      }
    }

    &.yes-no {

      .row-label {
        margin-right: 20px;
      }

      .custom-radio {
      }

      .question-container {
        width: 536px;
      }
    }


    &.textarea-row {
      margin-top: 18px;

      &.flex-col {
        flex-direction: column;
      }

      textarea {
        max-width: 835px;
      }

      label {
        &.explain {
          font-style: italic;
        }
      }
    }
  }
}
