<div class="sub-menu">
  <div class="navbar-nav container">
    <a class="nav-item navbar-link " routerLink="./upload" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <span class="far fa-file-upload"></span>
      Load Comps
    </a>
    <a class="nav-item navbar-link {{isActiveLink}}" routerLink="./grid">
      <span class="fa fa-th"></span>
      Comp Grid
    </a>
    <a class="nav-item navbar-link " routerLink="./deeds" routerLinkActive="active">
      <span class="far fa-file-alt"></span>
      Deeds
    </a>
    <a class="nav-item navbar-link " routerLink="./map" routerLinkActive="active">
      <span class="far fa-map"></span>
      Map
    </a>
    <a class="nav-item navbar-link " routerLink="./addenda" routerLinkActive="active">
      <span class="far fa-edit"></span>
      Addenda
    </a>
  </div>
</div>
<div class="clear"></div>

<div class="grid-header row" (window:resize)="onResize($event)" #compHeader>
  <div class="col">

    <div class="form">
      <label>Form</label>
      <span class="text">{{formType}}</span>
    </div>

    <div class="comp-summary">
      <span class="comp-count">
        <label>Comp Count</label>
        <span class="count">{{compCount}}</span>
      </span>
      <a href="#" class="btn btn-primary btn-add-comps d-none" data-toggle="modal" data-target="#addComps">Add Comps</a>
    </div>
  </div>
  <div class="col">

    <div class="data-source-list" *ngIf="dataSources.length > 0">
      <h6 class="background-fade-out">
        Data sources loaded
      </h6>
      <div class="source-list background-fade-out">
        <div class="row" *ngFor="let source of dataSources">
          <div class="table-layout">
            <div class="source-name">{{source.displayName}}</div>
            <label>{{source.type}}</label>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>


<router-outlet></router-outlet>
