  <h3>Analytics - past 30 days</h3>
<div class="analytics">


  <div class="analysis-item">
    <span class="number">28</span>
    <label>active export days</label>
  </div>

  <div class="analysis-item">
    <span class="number">233</span>
    <label>properties exported</label>
  </div>

  <div class="analysis-item">
    <span class="number big-num">10,206</span>
    <label>data points exported</label>
  </div>

  <div class="analysis-item">
    <span class="number">~42</span>
    <label>hours saved</label>
  </div>

</div>

