
$body-bg-color: #f2f6fa;

// Nav vars
//$header-height: 81px; // height 61 with 20px margin-bottom
$header-height: 68px;   // height 48 with 20 margin-bottom;
$subheader-height: 35px;

// Footer vars
$footer-height: 30px;
$footer-margin: 20px;



