<div class="sub-menu">
  <div class="navbar-nav container" [ngStyle]="{'left': sidebarWidth}">
    <a class="nav-item navbar-link " routerLink="./import" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <span class="far fa-file-import"></span>
      Import
    </a>
    <a class="nav-item navbar-link {{isActiveLink}}" routerLink="./report">
      <span class="far fa-file-alt"></span>
      Report
    </a>
    <a class="nav-item navbar-link " routerLink="./detail" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <span class="far fa-bars"></span>
      Details
    </a>
    <a class="nav-item navbar-link " routerLink="./graphs" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <span class="far fa-chart-line"></span>
      Graphs
    </a>
    <a class="nav-item navbar-link " routerLink="./summary" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <span class="far fa-clipboard-list-check"></span>
      Summary
    </a>
  </div>
</div>
<div class="clear"></div>

<p>
  <!--market-conditions works!-->&nbsp;
</p>

<router-outlet></router-outlet>

