

.address-header {
  display: flex;
  flex-direction: row;
  padding: 5px 20px 5px 0;
  width: 100%;

  .address {
    flex: 4;
    .address-line1 {
      font-size: 24px;
    }

    .address-line2 {
      font-size: 17px;
    }

  }

  .ids {
    flex: 2;
    margin-top: 17px;
    text-align: right;
  }

}

.maps-collection {
  display: table;
  margin: 0 auto;
  margin-top: 15px;
}

.maps {
  margin: 0;

  &.mls {
    margin: 0;
    display: flex;
    flex-direction: row;

    img {
      border: 1px solid #000;
      height: 422px;
      width: 565px;
    }

    
  }
}
