@import 'variables';

footer {
  background-color: rgba(216, 218, 219, 0.1);
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  color: #818182;
  font-size: 13px;
  //margin-top: $footer-margin;
  max-height: $footer-height;
  padding: 6px 2rem 4px;
  text-transform: lowercase;

  .copy {
    .data {
      color: #186faf;
    }

    .master {
      color: #555559;
    }
  }

  .bottom-nav {
    a {
      color: rgba(0,0,0,0.6);

      &:hover {
        text-decoration: none;
        color: rgba(0,0,0,0.7);
      }
    }

    .spacer {
      display: inline-flex;
      margin: 0 5px;
    }
  }
}
