@import 'variables';
@import 'theme';

header {
  padding: 0;
  background-color: $header-bgcolor;
  //border-bottom: 1px solid rgba(0,0,0,0.3);
  //border-bottom: 1px solid #102a43;
  border-bottom: 1px solid rgba(16, 42, 67, 0.2);
  font-family: 'Open Sans', Roboto;
  font-size: 16px;
  //padding: 0;
  .navbar {
    padding: 0;

    .navbar-brand {
      //background-color: #102a43;
      background-color: rgba(16, 42, 67, 0.8);
      margin: 0;
      padding: 8px 18px 8px 14px;
      border-bottom: 1px solid rgba(16, 42, 67, 0.4);
      margin-bottom: -1px;
    }
  }

  .nav-right {
    position: absolute;
    right: 30px;
    top: 13px;

    .action-item {
      color: #2680c2;
      margin: 0 13px;
      position: relative;

      .badge {
        top: -4px;
        left: 8px;
        /* height: 18px; 
        line-height: 14px;*/
        /*background-color: rgba(98, 176, 232, 0.3);*/
        background-color: #d0e7f8;
        border: 1px solid rgba(98, 176, 232, 1);
        border-radius: 20px;
        color: #e66a6a;
        z-index: 1;
        position: absolute;
        min-width: 14px;
        font-size: 10px;
        text-align: center;
        padding: 1px 4px;
      }

      &:hover {
        color: #62B0E8;
      }

      &.sign-out {
        &:hover {
          color: #e66a6a;
        }
      }


      .has-badge {
        position: relative;

        &[data-count]:after {
          position: absolute;
          right: -5px;
          top: -37%;
          content: attr(data-count);
          font-size: 9px;
          padding: 5px;
          border-radius: 20px;
          line-height: .75em;
          color: white;
          background: rgba(255, 0, 0, 0.85);
          text-align: center;
          min-width: 2em;
          font-weight: bold;
          font-family: 'Open Sans';
        }
      }
    }
  }
}
