<div class="card">
  <div class="card-header">
    <h3>Create a new Work File</h3>

    <ul class="nav nav-tabs">
      <li class="tab">
        <a href="#newFileTab" class="active" data-toggle="tab">New file</a>
      </li>
      <li class="tab">
        <a href="#addressSearchTab" data-toggle="tab"><span class="far fa-search"></span> Address</a>
      </li>
      <li class="tab">
        <a href="#mlsSearchTab" data-toggle="tab"><span class="far fa-search"></span> MLS</a>
      </li>
      <li class="tab">
        <a href="#apnSearchTab" data-toggle="tab"><span class="far fa-search"></span> APN</a>
      </li>
    </ul>

  </div>
  <div class="card-body">

    <div class="tab-content tab-slider-container">

      <div id="newFileTab" class="tab-pane active new-file {{readyToDrop == true ? 'drop' : ''}}" (drop)="drop($event)" (dragover)="allowDrop($event)" (dragleave)="doneDropping($event)">

        <form id="newFileForm" [formGroup]="newFileForm">
          <div class="form-group">
            <label for="fileName">
              Enter your file name/number
              <span class="required" *ngIf="(newFileForm.controls['fileName'].invalid && newFileForm.controls['fileName'].touched)">required</span>
            </label>
            <input type="text" placeholder="file name/number" formControlName="fileName" />
            <a href="#" onclick="return false;" class="create-file-name">[create one for me]</a>
            <!--<small class="form-text text-muted">That's ok if you don't have one, we can create one for you.</small>-->
          </div>
          <div class="form-group">

            <div class="custom-input-group">
              <label for="formType">
                Select your appraisal type
                <span class="required" *ngIf="(newFileForm.controls['formType'].invalid && newFileForm.controls['formType'].touched)">required</span>
              </label>
              <select formControlName="formType">
                <option *ngFor="let type of appraisalFormTypes" [ngValue]="type.value">{{type.text}}</option>
              </select>
            </div>
            <div class="custom-input-group form-vendor">
              <div class="dropdown show">
                <div class="selected-item dropdown-toggle" data-toggle="dropdown">
                  <img src="{{selectedVendorImgSrc}}" alt="{{selectedVendorImgAlt}}" #selectedVendor height="{{selectedVendorImgHeight}}" />
                  <a href="#" onclick="return false;" class="change">[change]</a>
                </div>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <a class="dropdown-item" (click)="updateVendor($event)">
                    <img src="/assets/images/vendors/alamode.png" alt="a la mode" height="25" />
                  </a>
                  <a class="dropdown-item" (click)="updateVendor($event)">
                    <img src="/assets/images/vendors/aci.png" alt="ACI" width="40" />
                  </a>
                  <a class="dropdown-item" (click)="updateVendor($event)">
                    <img src="/assets/images/vendors/bradford.png" alt="Bradford" height="30" />
                  </a>
                  <a class="dropdown-item" (click)="updateVendor($event)">
                    <img src="/assets/images/vendors/sfrep.png" alt="SFREP" height="18" />
                  </a>
                </div>
              </div>

            </div>

          </div>
          <div class="form-group">
            <label>Open an MLS export file (<i>optional</i>)</label>
            <input type="file" style="background-color: #f2f6fa;" class="file-upload" formControlName="mlsFileUpload" />
          </div>

          <!--<a routerLink="/Subject/" class="btn btn-success btn-go" (click)="validate()">
            Create new file
            <span class="fal fa-arrow-circle-right"></span>
          </a>-->

          <button type="submit" class="btn btn-success btn-go" (click)="validate()">
            Create new file
            <span class="fal fa-arrow-circle-right"></span>
          </button>

        </form>

      </div>

      <div id="addressSearchTab" class="tab-pane search-forms">

        <app-address-search #addressSearch (resultsEvent)="onAddressResults($event)" (showResultsEvent)="showResults()" (clearAllSearchesEvent)="clearSearchResults()"></app-address-search>

      </div>

      <div id="mlsSearchTab" class="tab-pane search-forms">

        <app-mls-search #mlsSearch (resultsEvent)="onMlsResults($event)" (showResultsEvent)="showResults()" (clearAllSearchesEvent)="clearSearchResults()"></app-mls-search>

      </div>

      <div id="apnSearchTab" class="tab-pane search-forms">

        <app-apn-search #apnSearch (resultsEvent)="onApnResults($event)" (showResultsEvent)="showResults()" (clearAllSearchesEvent)="clearSearchResults()"></app-apn-search>

      </div>

    </div>

    <!-- Modal -->
    <div class="modal fade" id="searchResultsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <!-- class="... modal-dialog-scrollable" -->
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Property Search Results</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body search-results-modal">
            <div class="results {{showNewFile[i] ? 'active' : ''}}" *ngFor="let result of searchResults; let i = index;">

              <div class="sub-row first">
                <div class="address">
                  <span class="address-line1">
                    {{result.address.addressLine1}}
                    <span *ngIf="result.address.addressLine2">, {{result.address.addressLine2}}</span>
                  </span>
                  <span class="address-line2">
                    {{result.address.city}}, {{result.address.state}}  {{result.address.zip}}
                  </span>
                </div>
                <div class="ids" *ngIf="result.apn"><span class="label">apn</span> {{result.apn}}</div>
                <div class="ids" *ngIf="result.mlsNumber"><span class="label">mls num.</span> {{result.mlsNumber}}</div>
              </div>

              <div class="sub-row second">

                <div class="info">
                  <span class="item">
                    <span class="label">built in</span>
                    {{result.yearBuilt}}
                  </span>
                  <span class="item" *ngIf="result.lotSize">

                    <!--{{convertToAcres(result.lotSize)}}-->
                    {{result.lotSize}}
                    <span class="label">acres</span>
                  </span>
                  <span class="item">
                    {{result.squareFeet}}
                    <span class="label">sq. ft.</span>
                  </span>
                </div>

                <div class="info">
                  <span class="item">
                    <span class="fal fa-bed fa-lg icon"></span>
                    {{result.bedroomCount}}
                    <span class="label">bedrooms</span>
                  </span>
                  <span class="item">
                    <span class="fal fa-bath fa-lg icon"></span>
                    {{result.bathroomCount}}
                    <span class="label">bathrooms</span>
                  </span>
                </div>

                <div class="info">
                  <span class="item ">
                    <span class="fal fa-building fa-lg icon"></span>
                    {{result.type}}
                  </span>
                  <span class="item">
                    <span class="fal fa-home fa-lg icon"></span>
                    {{result.style}}
                  </span>
                </div>

              </div>

              <div class="select-this view-detail d-flex h-100" data-toggle="modal" data-target="#propertyDetailModal" (click)="initDetail(result)">
                <span class="fal fa-list-alt fa-2x icon justify-content-center align-self-center"></span>
                <div class="use">
                  <span class="as">view</span>
                  <span class="subject">detail</span>
                </div>
              </div>

              <div class="select-this d-flex h-100 {{showNewFile[i] ? 'active' : ''}}" (click)="useAsSubject($event, i, selectThis)" #selectThis>
                <span class="fal fa-arrow-circle-right fa-2x icon justify-content-center align-self-center"></span>
                <div class="use">
                  <span class="as">use as</span>
                  <span class="subject">subject</span>
                </div>
              </div>

              <div class="new-file-subject" *ngIf="showNewFile[i]">

                <form id="newFileForm" [formGroup]="newFileForm">
                  <div class="form-row">
                    <div class="form-group col-4">
                      <label for="fileName">
                        file name/number
                      </label>
                      <input type="text" placeholder="file name/number" formControlName="fileName" id="fileName" />
                      <a href="#" onclick="return false;" class="create-file-name">[create one for me]</a>
                      <!--<small class="form-text text-muted">That's ok if you don't have one, we can create one for you.</small>-->
                    </div>
                    <div class="form-group">
                      <label for="formType">
                        appraisal type
                      </label>

                      <select formControlName="formType">
                        <option *ngFor="let type of appraisalFormTypes" [ngValue]="type.value">{{type.text}}</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="formType" class="vendor-label">
                        form vendor
                      </label>

                      <div class="dropdown show">
                        <div class="selected-item dropdown-toggle" data-toggle="dropdown">
                          <img src="{{selectedVendorImgSrc}}" alt="{{selectedVendorImgAlt}}" #selectedVendor height="{{selectedVendorImgHeightResults}}" />
                          <a href="#" onclick="return false;" class="change">[change]</a>
                        </div>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                          <a class="dropdown-item" (click)="updateVendor($event)">
                            <img src="/assets/images/vendors/alamode.png" alt="a la mode" height="25" />
                          </a>
                          <a class="dropdown-item" (click)="updateVendor($event)">
                            <img src="/assets/images/vendors/aci.png" alt="ACI" width="40" />
                          </a>
                          <a class="dropdown-item" (click)="updateVendor($event)">
                            <img src="/assets/images/vendors/bradford.png" alt="Bradford" height="30" />
                          </a>
                          <a class="dropdown-item" (click)="updateVendor($event)">
                            <img src="/assets/images/vendors/sfrep.png" alt="SFREP" height="18" />
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>

                  <button type="button" class="close" aria-label="Close" (click)="showNewFile[i] = false">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </form>


              </div>


            </div>

            <div class="not-found" *ngIf="searchResults?.length <= 0">
              <span class="fal fa-frown fa-5x emoji"></span>
              <div class="err-information">
                <div class="err-exclamation">Oh no!</div>
                <div class="err-message">No results found.</div>
              </div>
            </div>

          </div>

          <!--<div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>-->
        </div>
      </div>
    </div>

    <!-- Property Detail Modal -->
    <div class="modal fade" id="propertyDetailModal" tabindex="-1" role="dialog" aria-labelledby="propertyDetailModalLabel" aria-hidden="true">
      <div class="modal-dialog detail-modal modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header property-detail-header">
            <h4 class="modal-title" id="propertyDetailModalLabel">
              PROPERTY DETAIL
            </h4>
            <h5>
              {{searchType}}
              <span class="source-name">{{TEMPsearchSource}}</span>
            </h5>

            <span class="help fal fa-question-circle" [ngbPopover]="popHelpContent" placement="right auto" popoverClass="help-popover"></span>
            <ng-template #popHelpContent>
              <p>
                The information shown on this sheet is detail from your <em>{{searchType}}</em> ({{TEMPsearchSource}}) data source.  For
                quick reference and quick results the search you performed looks at that single data source.
              </p>

              <h6>How can I see data from all my data sources on this property?</h6>
              <p>
                The normal DataMaster magic happens when you use this property as a subject or comparable.  We contact
                all your data sources (Public Records, MLS, and possibly past appraisal files) on your behalf, merge
                that information according to your preferences, display it to you, and finally when the time is right, export
                it to your report.
              </p>
              <p>
                However, if you'd like to see a data sheet for this property with data from all your data sources, click on the "View
                DataMaster datasheet for this property" link found on this page.  It may take a minute, but we'll reach out
                to all of your data sources and display that for you.
                [TBD]
              </p>

            </ng-template>

            <span class="info">
              <span class="bg">&nbsp;</span>
              <span class="icon fas fa-info fa-xs"
                    style=""></span>
            </span>

            <span class="fal fa-print fa-lg print"></span>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body search-detail-modal">


            <app-property-detail #propertyDetail></app-property-detail>


          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>


